body{
    background:url('pics/eaglecopy.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    color:white;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
    display: block;
}

.sidenav .active{
  color:#f1f1f1;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    font-weight:bold;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1, h2 {
  font-family: 'Orbitron', sans-serif;
}

h2 {
  font-size: 2.3em;
}

body {
  font-family: 'Julius Sans One', sans-serif;
}

.main {
  overflow: hidden;
  width: 800px;
}

#bold {
  font-weight: bold;
}

#that{
  font-size:20px;
  position:relative;
  top:-3px;
  right:7px;
}
#this{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  position:relative;
  top:5px;
  left:5px;
  color:white;
  transition-property: color;
  transition-duration: 0.5s;
}

#this:hover{
  
  color:red;
  transition-property: color;
  transition-duration: 0.5s;
}

#iit{
  padding-left: 1px;
  color:red;
  font-weight:bold;
  font-size:110%;
  letter-spacing:2px;
}

#commun{
  color:white;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

